## Deliverable 3. Create a Travel Itinerary Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [26]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Port Elizabeth,ZA,70.11,clear sky,-33.9180,25.5701,39 On Nile Guest House
1,4,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,Casa Tia Villa
2,6,Rondonopolis,BR,78.94,moderate rain,-16.4708,-54.6356,Serras Hotel
3,7,Bethel,US,71.01,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
4,12,Butaritari,KI,81.37,scattered clouds,3.0707,172.7902,Isles Sunset Lodge

In [27]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Weather</b></dt><dd>{Current Description}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp}</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [28]:
# 4a. Add a marker layer for each city to the map.
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
# 4b. Display the figure
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
## Four DataFrames are created, one for each city on the itinerary. (10 pt) ##

vacation_start = vacation_df.loc[vacation_df["City"]=="Newark"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Newark"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Warwick"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Yarmouth"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Broome"]

In [30]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
37,139,Broome,US,70.38,overcast clouds,42.2506,-75.833,Chenango Valley State Park

In [31]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# start =  pd.DataFrame(vacation_start["Lat"]).join(pd.DataFrame(vacation_start["Lng"]))
# Get the lat and lng for the start and end of the trip
## The latitude and longitude pairs for each of the four cities are retrieved. (5 pt) ##
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
## A directions layer map between the cities and the travel map is created and uploaded as WeatherPy_travel_map.png. (10 pt) ##
figure_layout = {
    'width': '1200px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [33]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
## A DataFrame that contains the four cities on the itinerary is created. (10 pt) ##
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,664,Newark,US,72.91,broken clouds,40.7357,-74.1724,Best Western Plus Robert Treat Hotel
1,573,Warwick,US,71.94,broken clouds,41.7001,-71.4162,Hampton Inn & Suites Providence/Warwick-Airport
2,125,Yarmouth,US,71.02,few clouds,41.7057,-70.2286,Blue Rock Resort
3,139,Broome,US,70.38,overcast clouds,42.2506,-75.8330,Chenango Valley State Park

In [34]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Weather</b></dt><dd>{Current Description} and {Max Temp} &#176 F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(layout=figure_layout)
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING', show_markers=False)

fig.add_layer(city_itinerary)

markers = gmaps.marker_layer(locations,info_box_content=city_info)
# Add the layer to the map
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦